
#results_list li 
{
	width: 150px;
	height: 130px;
	background-color: #fff;
	text-align: center;
	list-style: none;
	display: inline-table;
	padding: 10px;
}


#tblInputvals
{
	width: 100%;
}

#inputText
{
	margin-bottom:10px;
}

h2
{
	text-align:left;
}

form
{ display:inline;}


.debugBody h3
{
	text-align: left !important;
}


.cabecalho
{
	padding:20px;
}


#layer1, #layer2, #layer3, #layer4, #layer5
{
	min-height: 300px;
	padding: 20px;
}

#layer1, #layer3 
{ 
	background-color:#bbeeee;
}

#layer2, #layer4
{
	background-color:#e1ffe1;
}

#layer5
{
	background-color:#aadddd;
}

form label
{ padding:10px; }

input[type="file"] 
{
    display: inline;
}

.estatisticas
{
	
}

.subtitle
{
	 font-weight: bold;
	font-size: 120%;
}

#debugger
{
	text-align:center; 
	width:90%; 
	margin: auto; 
}

.height450
{
	overflow:auto;
	height:450px;
}

.height180p
{
	height: 250px;
	overflow: auto;
}

.input, .left
{
	float: left; 
}

.output, .right
{
	float: right; 
}

.box
{
	width: 50%; padding: 10px;
	min-height: 200px;
	text-align:left;
}

.box30
{
	width: 30%; padding: 10px;
	min-height: 525px !important;
	text-align:left;
}

.box70
{
	width: 70%; padding: 10px;
	min-height: 525px !important;
	text-align:left;
}

.width100
{
	width:100%;
}


.width75
{
	width:75%;
}


.log
{
	width: 100% !important;
	background-color: #d3f3c8;
}

#debugBody, body
{
	width:90%;
	clear:both;
	margin: auto;
}