/* Empty. Add your own CSS if you like */
img {
    float:inherit;
    width:100%;
    height:auto;

}
#imgTaked {
    float:inherit;
    width:100%;
    height:auto;
    transform:rotate(90deg);
}

body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}