/*! ng-dialog - v0.3.0 (https://github.com/likeastore/ngDialog) */

@-webkit-keyframes ngdialog-flyin {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes ngdialog-flyin {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        transform: translateY(-40px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes ngdialog-flyout {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

@keyframes ngdialog-flyout {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        transform: translateY(-40px);
    }
}

.ngDialog-theme-dynamic-content {
    padding-bottom: 50px;
    padding-top: 50px;
}

.ngDialog-theme-dynamic-content .ngdialog-closing .ngdialog-content {
    -webkit-animation: ngdialog-flyout .5s;
    animation: ngdialog-flyout .5s;
}

.ngDialog-theme-dynamic-content .ngdialog-content {
    -webkit-animation: ngdialog-flyin .5s;
    animation: ngdialog-flyin .5s;
    background: #f0f0f0;
    border-radius: 5px;
    color: #444;
    font-family: "trebuchet ms", sans-serif;
    font-size: 14px;
    line-height: normal;
    margin: 0 auto;
    max-width: 90%;
    padding: 10px;
    position: relative;
    width: 90%;
}

.ngDialog-theme-dynamic-content .ngdialog-close {
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}

.ngDialog-theme-dynamic-content .ngdialog-close:before {
    background: 0 0;
    border-radius: 3px;
    color: #bbb;
    content:"\00D7";
    font-size: 26px;
    font-weight: 400;
    height: 30px;
    line-height: 26px;
    position: absolute;
    right: 3px;
    text-align: center;
    top: 3px;
    width: 30px;
}

.ngDialog-theme-dynamic-content .ngdialog-close:active:before,.ngDialog-theme-dynamic-content .ngdialog-close:hover:before {
    color: #777;
}

.ngDialog-theme-dynamic-content .ngdialog-message {
    /*margin-bottom: .5em;*/
}

.ngDialog-theme-dynamic-content .ngdialog-input {
    margin-bottom: 1em;
}

.ngDialog-theme-dynamic-content .ngdialog-input input[type=email],.ngDialog-theme-dynamic-content .ngdialog-input input[type=password],.ngDialog-theme-dynamic-content .ngdialog-input input[type=text],.ngDialog-theme-dynamic-content .ngdialog-input input[type=url],.ngDialog-theme-dynamic-content .ngdialog-input textarea {
    background: #fff;
    border: 0;
    border-radius: 3px;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    margin: 0 0 .25em;
    min-height: 2.5em;
    padding: .25em .67em;
    width: 100%;
}

.ngDialog-theme-dynamic-content .ngdialog-input input[type=email]:focus,.ngDialog-theme-dynamic-content .ngdialog-input input[type=password]:focus,.ngDialog-theme-dynamic-content .ngdialog-input input[type=text]:focus,.ngDialog-theme-dynamic-content .ngdialog-input input[type=url]:focus,.ngDialog-theme-dynamic-content .ngdialog-input textarea:focus {
    -webkit-box-shadow: inset 0 0 0 2px #8dbdf1;
    box-shadow: inset 0 0 0 2px #8dbdf1;
    outline: 0;
}

.ngDialog-theme-dynamic-content .ngdialog-buttons {
    *zoom: 1;
    margin-top: 45px;
}

.ngDialog-theme-dynamic-content .ngdialog-buttons:after {
    content: '';
    display: table;
    clear: both;
}

.ngDialog-theme-dynamic-content .ngdialog-button {
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    float: right;
    font-family: inherit;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: normal;
    padding: 10px 20px;
    text-transform: uppercase;
    padding-bottom: 8px;
}

.ngDialog-theme-dynamic-content .ngdialog-button:focus {
    -webkit-animation: ngdialog-pulse 1.1s infinite;
    animation: ngdialog-pulse 1.1s infinite;
    outline: 0;
}

@media (max-width:568px) {
    .ngDialog-theme-dynamic-content .ngdialog-button:focus {
        -webkit-animation: none;
        animation: none;
    }
}

.ngDialog-theme-dynamic-content .ngdialog-button.ngdialog-button-primary {
    background: #dd1921;
    color: #fff;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border: solid 1px #dd1921;
    width: 47%;
}

.ngDialog-theme-dynamic-content .ngdialog-button.ngdialog-button-primary-grey {
    background: #eaeaea;
    color: #777;
    margin-left: 1.5%;
    margin-right: 1.5%;
    border: solid 1px #d8d8d8;
    width: 47%;
}

.ngDialog-theme-dynamic-content .ngdialog-button.ngdialog-button-secondary {
    background: #e0e0e0;
    color: #777;
}