<ion-view view-title="Title">
        <ion-content ng-controller="titleCtrl">
            <div>
                <button class="button button-full button-calm" ng-click="takePhoto()">
                    Take Photo
                </button>
                <button class="button button-full button-calm" ng-click="choosePhoto()">
                    Choose Photo
                </button>
                <h1 class="item item-calm" ng-show="picturePath == undefined">{{photoStatus}}</h1>
            </div>
            <div>
                <img ng-show="picturePath !== undefined" ng-src="{{picturePath}}">
            </div>
            <div>
                <button class="button button-calm button-full"
                        ng-show="pictureUrl !== undefined" ng-click="sendPicture()">
                    Send
                </button>

            </div>


        </ion-content>

</ion-view>