<ion-view view-title="result">
    <ion-content ng-controller="resultCtrl">
        <div class="divTitle">
            <h5 align="center">Received messages will be displayed under this but you can always clear the screen!</h5>
            <hr>
        </div>

        <!--content -->
        <div id="contentDiv"></div>
        <p>{{pppp}}</p>

    </ion-content>

</ion-view>