<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-calm tabs-color-active-positive">

  <!-- Dashboard Tab -->

  <ion-tab title="Result" icon="ion-images" href="#/tab/result">
    <ion-nav-view name="tab-result"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Title" icon="ion-plus-circled" href="#/tab/title">
    <ion-nav-view name="tab-title"></ion-nav-view>
  </ion-tab>






</ion-tabs>