<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <div class="item item-picture">
      <img ng-src="{{picturePath}}">
    </div>

    <div class="item padding">
      <button ng-click="takePicture()" class="button button-block button-calm">
        Tirar Foto
      </button>
    </div>

      <div class="padding">
          <p>{{liveConsole}}</p>
      </div>

      </div>
      <ion-scroll direction="x" style="height:200px; min-height: 200px; overflow: scroll; white-space: nowrap;">

          <ul>
              <li ng-repeat="image in images">
                  <p>image: {{image}}</p>
                  <p>url: {{urlForImage(image)}}
                  </p></li>
          </ul>
      </ion-scroll>
    
    <button class="button button-full button-positive" ng-click="scan()">   
      scan
    </button>
  <p>
    {{ barData | json}}
  </p>
  </ion-content>
</ion-view>