<div class="body">


    <div id="debugger">

        <div class="box30 input">
            <h2>Input</h2>
            <textarea ID="inputText" class="width100 height180p" >{json}</textarea>
            <button type="button" class="btn btn-default" id="SendRequest">Enviar</button>
            <button type="button" class="btn btn-info" id="clear_ta_all">Limpar Tudo</button>

        </div>
        <div class="box70 output" id="layer5">
            <h2>Results</h2>

            <div id="results_list">
                <!-- vai ter uls -->
            </div>

            <button type="button" class="btn btn-default" id="clear_ta_layer_su">Limpar</button>
        </div>


    </div>